@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#kol {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    padding: 5px;
    width: 17.5rem;
    height: 25rem;
    div#display {
        height:25% ;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        p#currentOP{
            color: white;
            font-weight: 600;
            font-size: 2.4rem;
            
        }
        p#previousOP{
            font-weight: 500;
            color: white;
            font-size: 1.5rem;
            
        }
    }

    div#teclas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 70%;
        gap: 5px;
        padding: 7px;
        width: 98%;
        button{
            background-color: rgba(24, 24, 24, 0.877);
            color: white;
            font-weight: 600;
            font-size: 20px;
            border: none;
            
            height: 100%;
            width: 100%;
            border-radius: 100%;
            transition: all ease-in 0.099s;
        }

        button:hover{
            cursor: pointer;
        }

        button:active {
            background-color: white;
            color: rgba(24, 24, 24, 0.877);
        }
    }
    

}

